################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/MangaNameReorder/.vs/MangaNameReorder
/MangaNameReorder/MangaNameReorder/bin/Debug/net8.0
/MangaNameReorder/MangaNameReorder/obj
/MangaNameReorder/MangaNameReorder/bin/x64/Release/net8.0
